body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Arial;
  color: rgb(0, 0, 0);
}

.element {
  float: left;
}

.element .text {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
}

.text-8 p {
  margin-bottom: 1em;
}

.container-1 {
  width: 720px;
  height: 60px;
  margin: 1px auto 0;
}

.container-2 {
  visibility: hidden;
  position: relative;
  float: left;
  z-index: 5;
  width: 44.4999999999%;
  height: 22px;
  margin: 23px 0 0 1.05469%;
}

.container-3 {
  position: relative;
  float: left;
  z-index: 12;
  width: 30.9444444444%;
  height: 22px;
  margin: 23px 0 0 11.83594%;
}

.container-4 {
  width: 720px;
  height: 327px;
  margin: 75px auto 0;
}

.container-5 {
  float: left;
  width: 63.3333333333%;
  height: 161px;
  margin-top: 81px;
}

.container-6 {
  float: left;
  width: 28.3333333333%;
  height: 281px;
  margin: 29px 0 0 8.32248%;
}

.container-7 {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 23px;
}

.container-8 {
  float: left;
  clear: both;
  width: 720px;
}

.container-8 .text-10 {
  margin-top: 79px;
}

.container-8-two {
  margin-top: 19px;
}

.container-9 {
  float: left;
  clear: both;
  width: 80%;
  height: 154px;
  margin: 385px 0 0 10%;
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 11.5277777777%;
  min-height: 22px;
  margin: 18px 0 0 0.13889%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.element-10 {
  clear: both;
  width: 100%;
  height: 37px;
  margin-top: 106px;
  background-color: rgb(222, 222, 222);
}

.element-2 {
  width: 157px;
  height: 157px;
  background: url('../images/14462790_10206788615213665_7193781229929996797_n%20(1).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-3 {
  width: 15.8273381294%;
  height: 22px;
  margin-left: 4.31655%;
  background: url('../images/1479155999_icon-97-folder-download(2).png') rgba(255, 253, 253, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-4 {
  display: block;
  position: relative;
  clear: both;
  z-index: 25;
  width: 229px;
  height: 229px;
  margin-top: 2px;
  background: url('../images/unnamed(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.element-5 {
  display: block;
  position: relative;
  z-index: 27;
  width: 229px;
  height: 229px;
  margin: 4px 0 0 2.1875%;
  background: url('../images/smart-reload.png') rgb(222, 222, 222);
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.element-6 {
  display: block;
  position: relative;
  z-index: 30;
  width: 229px;
  height: 229px;
  margin: 1px 0 0 2.18967%;
  background: url('../images/bandiya-game.png') rgb(222, 222, 222);
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.element-7 {
  display: block;
  position: relative;
  clear: both;
  z-index: 34;
  width: 229px;
  height: 229px;
  margin-top: 19px;
  background: url('../images/filtered(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.element-8 {
  display: block;
  position: relative;
  z-index: 32;
  width: 229px;
  height: 229px;
  margin: 19px 0 0 2.1875%;
  background: url('../images/run-away(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.element-9 {
  display: block;
  position: relative;
  z-index: 36;
  width: 229px;
  height: 229px;
  margin: 19px 0 0 2.19401%;
  background: url('../images/pres-sem2-1_01(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* vvv new posts */

.element-4-two {
  background: url('../images/three(2).png') rgb(222, 222, 222);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.element-5-two {
  background: url('../images/aces-site(2).png') rgb(222, 222, 222);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

/*.element-6-two {
  background: url('../images/aces-site(2).png') rgb(222, 222, 222);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}*/

/*.element-7-two {
  background: url('../images/filtered(2).png') rgb(222, 222, 222);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.element-8-two {
  background: url('../images/run-away(2).png') rgb(222, 222, 222);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

.element-9-two {
  background: url('../images/pres-sem2-1_01(2).png') rgb(222, 222, 222);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
*/
/* ^^^ new posts */

.text-1 {
  clear: both;
  width: 100%;
  min-height: 15px;
  margin-top: 11px;
  font-family: Georgia;
  font-style: italic;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-10 {
  width: 99.8611111111%;
  min-height: 25px;
  padding: 4px;
  font-size: 0.875em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.text-11,
.text-12,
.text-13,
.text-14,
.text-15 {
  height: 45px;
  margin-top: 184px;
}

.text-16 {
  height: 66px;
  margin-top: 163px;
}

.text-2 {
  width: 58.3333333333%;
  height: 18px;
  min-height: 18px;
  margin: 52px 0 0 41.66667%;
  padding: 2px 2px 2px 14px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(156, 202, 255);
  font-size: 0.875em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.text-3 {
  clear: both;
  width: 50%;
  height: 18px;
  min-height: 18px;
  margin: 10px 0 0 50%;
  padding: 2px 2px 2px 14px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(130, 221, 133);
  font-size: 0.875em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.text-4 {
  clear: both;
  width: 70.0980392156%;
  height: 18px;
  min-height: 18px;
  margin: 9px 0 0 29.90196%;
  padding: 2px 2px 2px 14px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(255, 142, 213);
  font-size: 0.875em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.text-5 {
  clear: both;
  width: 85.7843137254%;
  height: 18px;
  min-height: 18px;
  margin: 11px 0 0 14.21569%;
  padding: 2px 2px 2px 14px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(252, 201, 88);
  font-size: 0.875em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.text-6 {
  clear: both;
  width: 50%;
  height: 18px;
  min-height: 18px;
  margin: 9px 0 0 50%;
  padding: 2px 2px 2px 14px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(255, 126, 126);
  font-size: 0.875em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.text-7 {
  clear: both;
  width: 65.3603114827%;
  height: 18px;
  min-height: 18px;
  margin: 10px 0 0 34.63542%;
  padding: 2px 2px 2px 14px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  background-color: rgb(44, 227, 166);
  font-size: 0.875em;
  line-height: 1;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: relative;
  z-index: 40;
  width: 73.6111111111%;
  min-height: 100px;
  margin-left: 3.75%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-9 {
  width: 79.8561151079%;
  min-height: 19px;
  font-size: 1em;
  text-align: right;
  color: rgb(61, 151, 255);
}

.container ._container-8 {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 43;
  width: 19.3055555555%;
  height: 22px;
  margin: -22px 0 0 79.85894%;
}

.container ._element-1 {
  display: block;
  float: left;
  width: 9.87446525%;
  height: 22px;
  margin-left: 0.897678659%;
  background: url('../images/1479154560_LinkedIn_alt.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._element-2 {
  display: block;
  float: left;
  width: 9.87446525%;
  height: 22px;
  margin-left: 9.49576%;
  background: url('../images/1479143500_03-twitter.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._element-3 {
  display: block;
  float: left;
  width: 9.87446525%;
  height: 22px;
  margin-left: 8.77341%;
  background: url('../images/1479144523_53-medium.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._element-4 {
  display: block;
  float: left;
  width: 9.87446525%;
  height: 22px;
  margin-left: 6.0944%;
  background: url('../images/1479144675_06-facebook.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._element-5 {
  display: block;
  float: left;
  width: 9.87446525%;
  height: 22px;
  margin-left: 4.9723%;
  background: url('../images/1479144914_38-instagram.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._element-6 {
  display: block;
  float: left;
  width: 9.87446525%;
  height: 22px;
  margin-left: 9.1380882249%;
  background: url('../images/1479154717_Github.png') rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container ._text-1 {
  display: block;
  float: left;
  width: 19.0392587173%;
  min-width: 60px;
  min-height: 10px;
  margin-left: 2.17996%;
  font-style: italic;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container ._text-3 {
  display: block;
  float: left;
  width: 19.0392587173%;
  min-width: 60px;
  min-height: 10px;
  font-size: 0.875em;
  line-height: 1.6;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container ._text-2,
.container ._text-4 {
  display: block;
  float: left;
  width: 19.0392587173%;
  min-width: 60px;
  min-height: 10px;
  margin-left: 0.1268%;
  font-size: 0.875em;
  line-height: 1.6;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container ._text-5 {
  float: left;
  width: 100%;
  min-height: 89px;
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
}

._text-5 span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(251, 35, 35);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.element span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: 'Arial Black';
  font-style: normal;
  font-size: 1.375em;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-11 span {
  color: rgb(233, 22, 22);
}

.text-12 span,
.text-13 span,
.text-14 span,
.text-15 span,
.text-16 span {
  color: inherit;
}