---
layout: default
---
<div class="-site-header" style="background-image: url({{site.baseurl}}/images/picsum-1.jpg);">
	<div class="-gradient">&nbsp;</div>
	<div class="-headline">
		<div class="-headline-inner">
			<h1>{{site.title}}</h1>
			<p>{{site.desc}}</p>
		</div>
	</div>
</div>

{% for post in site.posts %}
<h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
<p class="excerpt">{{post.excerpt}}</p>
{% endfor %}

<div class="social">
	{% include social.html name="Medium" url="https://medium.com/@nirmall" %}
	<span class="text">&middot;</span>
	{% include social.html name="Behance" url="https://www.behance.net/nir3al683b" %}
	<span class="text">&middot;</span>
	{% include social.html name="Instagram" url="https://www.instagram.com/srdyel/" %}
</div>
