/*@temp*/
/** {border: 1px solid red;}*/
/*div { border: 1px solid blue;}*/

/* variable-defaults */

.three-lines { display: none; }

#navbar-as-menu {
    /* default */
    display: none;

    position: relative;
}

#navbar-as-menu a {
    display: block;
    width: 100%;
    text-align: center;
    
    line-height: 28px;
    background-color: #222;
/*    border-bottom: 1px solid #111;*/
    
    text-decoration: none;
}

#navbar-as-menu a:hover {text-decoration: underline;}

/* styles */

* {
    box-sizing: border-box;
}

.container {
    /*@page-width*/
    max-width: 800px;
    margin: 0 auto;
}

.wrapper-container {
    position: relative;
}

.navbar {
    /*@navbar-height*/
    height: 40px;

    width: 100%;
    position: fixed;
    z-index: 99;
    
    /*temp-styles*/
    background-color: #333;
    color: #fff;
}
.navbar a {color: #fff;}

.header {
    /*@header-height*/
    height: 560px;
}

.about {
    /*@about-height*/
    height: 400px;
}

.intro {
    /*@intro-height*/
    height: 400px;
}

.news {
    /*@news-height*/
    height: 400px;
}

.inline-h1 {
    display: inline;
    line-height: 40px;
    padding-left: 10px;
}

.links {
    position: absolute;
    top: 12px;
    
    display: block;
    width: 100%;
    text-align: center;
    
    z-index: 99;
}
.links > a {
    margin: auto 6px;
}
.three-lines {
    position: absolute;
    top: 0;
    right: 0;
    
    /*temp*/
    padding-right: 10px;
    padding-top: 4px;
}

.navbar-inner {
    position: relative;
}


.no-decor > * {
    text-decoration: none;
}

.hover-underlines > a:hover {
    text-decoration: underline;
}


/* smaller than @page-width */
@media screen and (max-width:800px) {
    
    /* hide navbar--links */
    .navbar .links {display: none;}
    .navbar .three-lines {display: inline-block;}
    
}

.header-cover-img-container {
    height: 100%;
    position: relative;
}

.header-cover-img-div {
    height: 100%;
    background-image: url("cover.png");
    background-size: cover;
    background-position: center;
}

.header-quote {
    position: relative;
    top: 50%;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    color: #fff;
}

.header-quote-wrapper {
    position: relative;
    margin: 0 auto;
}   

.inline-h1-wrapper {
    /*@page-width*/
    max-width: 800px;
    margin: 0 auto;
    
    background-color: #333;
    
    z-index: 99;
}

#header-link {
    text-decoration: none;
}

#header-link:hover {
    text-decoration: underline;
}

.header-links {
    margin-top: 20px;
    color: #fff;
}
.header-links a {
    color: #fff;
}
