@mixin sans-serif {
	font-family: Lato,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}
@mixin serif {
	font-family: Lora,Adamina,Georgia,Cambria,"Times New Roman",Times,serif;
}

@mixin gray-text {
    color: rgba(0,0,0,.54);
}
@mixin darkgray-text {
	color: rgba(0,0,0,.68);
}

.container {
	max-width: 1000px;
}

.card-group {
    padding-right: 0;
    padding-left: 0;

	.card.h-100 {
		border: none;
		
		.maxthumb {
		    padding: 0 1.25rem;
			
			.img-fluid {
			    border: 1px solid rgba(0,0,0,.125);
			}

			.--img-fluid {
				height: 172px;
				background-size: cover;
				background-position: center;
			}
		}

		.card-body {
			flex: none;
			
			.card-title {
			    font-size: 22px;
			    @include sans-serif;
			    font-weight: 700;
		        line-height: 28px;
			}
			
			.card-text {
				font-size: 18px;
				@include sans-serif;
			}
		}
		
		.card-footer {
			padding-top: 8px;
		}
	}
}

.mainheading {
	h1.sitetitle {
		@include sans-serif;
	    font-weight: 900;
	}

	h1.posttitle {
		font-size: 38px;
		@include sans-serif;
    	font-weight: 700;
	}

	.--post-subtitle {
		font-size: 24px;
		@include sans-serif;
		font-weight: 400;
		line-height: 30px;
		@include gray-text;
	}

	a.navbar-brand {
		color: #212529;
	}
}

.article-post {
    font-size: 19px;
	@include serif;
	line-height: 33px;
	
	h2 {
		font-size: 26px;
		@include sans-serif;
	    font-weight: 700;
	}

	ul, li, ol, table, p {
		strong {
			font-weight: 700;
		}
	}

	blockquote {
		font-size: 26px;
		@include sans-serif;
		font-weight: 400;
	    line-height: 40px;
	    color: rgba(0, 0, 0, 0.47);
	    margin: 30px;
	    border: none;
	}

	.photo-description {
		@include darkgray-text;
		@include sans-serif;
		line-height: 18px;
	}

	a.--anchor-icon {
		font-size: 16px;
	    padding-left: 10px;
	    display: inline-block;
	    vertical-align: middle;
	}
}

.after-post-tags {
    .tags {
    	li {
    		a {
    			padding: 7px 10px;
    			@include darkgray-text;
    		}
    	}
    }
}

.post-top-meta {
	.--author-thumb--container {
		margin-right: -13px;
	}

	.--author-details {
		padding: 0;
		font-size: 16px;
		
		.btn.follow {
		    border-radius: 5px;
	    	padding: 0px 9px;
		}

		.author-description {
			font-size: 16px;
			margin-top: 0;
		}
	}
}

.--share-box {
	@include darkgray-text;
	
	a {
		@include darkgray-text;
	}
}