.--tag {
	display: inline-block;
	
	.--tag-count {
		background-color: #ffffff;
	    color: #333333;
	    border-radius: 100%;
	    padding: 1px 6px;
	    margin: 0px -6px 0px 2px;
	    font-weight: 700;
	}
}